<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <!-- Document Meta-->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- IE Compatibility Meta-->
    <meta name="author" content="zytheme"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Multi-purpose Business html5 landing page"/>
    <link href="assets/images/favicon/favicon.png" rel="icon"/>
    <!--  Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;display=swap" rel="stylesheet" type="text/css"/>
    <!-- Stylesheets-->
    <link href="assets/css/vendor.css" rel="stylesheet"/>
    <link href="assets/css/style.css" rel="stylesheet"/>
    <!-- 
    Document Title
    ============================================= 
    -->
    <title>Index | LeLand - Isometric Business HTML Landing Page</title>
  </head>
  <body class="body-scroll">
    <!-- 
    Document Wrapper
    ============================================= 
    -->
    <div class="wrapper clearfix" id="wrapper">
      <!-- 
      Hero Section
      ====================================== 
      -->
      <section class="landing-hero bg-gradient" id="hero">
        <div class="bg-section"><img src="assets/images/background/bg-gradient-2.svg" alt="background"/></div>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
              <div class="landing-content">
                <h1 class="text-white">Build Your <br/> Startup landing page</h1>
                <p class="text-white mb-30">LeLand is Isometric Business HTML Landing Page. It can be used to promote your services or startup.</p><a class="btn btn--primary btn--rounded btn--arrows mx-auto" href="https://1.envato.market/ZGdG0"> <span>Purchase Now <i class="icon-right-arrow"></i></span></a>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
              <div class="landing-demos">
                <!-- Landing #1-->
                <div class="showcase-card"><a href="landing-click.html" target="_blank"><img class="img-fluid" src="assets/images/landing/1.jpg" alt="Landing Click"/><span class="showcase-title">landing click through</span>
                    <!--  End .showcase-card--></a></div>
                <!--  End .showcase-card-->
                <!-- Landing #2-->
                <div class="showcase-card"><a href="landing-lead.html" target="_blank"><img class="img-fluid" src="assets/images/landing/2.jpg" alt="Landing Lead"/><span class="showcase-title">landing lead generation</span>
                    <!--  End .showcase-card--></a></div>
                <!--  End .showcase-card-->
                <!-- Landing #3-->
                <div class="showcase-card"><a href="thanks-you.html" target="_blank"><span class="showcase-title">View Thanks Page</span>
                    <!--  End .showcase-card--></a></div>
                <!--  End .showcase-card				-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End #hero -->
    </div>
    <!-- End #wrapper  -->
    <!-- 
    Footer Scripts
    =============================================  
    -->
    <script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/functions.js"></script>
  </body>
</html>